<div id="one" class="flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <label for="provinceOne" class="font-medium">Província</label>
    <select name="provinceOne" class="provinceOne border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idOne" class="font-medium">ID</label>
    <input
      type="text"
      name="idOne"
      class="idOne border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="cellOne" class="font-medium">Celula</label>
    <input
      type="text"
      name="cellOne"
      placeholder="Introduza o nome da Célula"
      autocomplete="off"
      class="cellOne border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="two" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceTwo" class="font-medium">Província</label>
    <select name="provinceTwo" class="provinceTwo border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idTwo" class="font-medium">ID</label>
    <input
      type="text"
      name="idTwo"
      class="idTwo border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="districtOne" class="font-medium">Distrito</label>
    <input
      type="text"
      name="districtOne"
      class="districtOne border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="AdminPostOne" class="font-medium">P. Administrativo</label>
    <input
      type="text"
      name="AdminPostOne"
      placeholder="Introduza o nome do P. Administrativo"
      autocomplete="off"
      class="AdminPostOne border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="districtTwo" class="font-medium">Distrito</label>
    <input
      type="text"
      name="districtTwo"
      class="districtTwo border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="AdminPostTwo" class="font-medium">P. Administrativo</label>
    <input
      type="text"
      name="AdminPostTwo"
      placeholder="Introduza o nome do P. Administrativo"
      autocomplete="off"
      class="AdminPostTwo border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="cellTwo" class="font-medium">Celula</label>
    <input
      type="text"
      name="cellTwo"
      placeholder="Introduza o nome da Celula"
      autocomplete="off"
      class="cellTwo border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="three" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceThree" class="font-medium">Província</label>
    <select name="provinceThree" class="provinceThree border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idThree" class="font-medium">ID</label>
    <input
      type="text"
      name="idThree"
      class="idThree border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="districtThree" class="font-medium">Distrito</label>
    <input
      type="text"
      name="districtThree"
      class="districtThree border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="AdminPostThree" class="font-medium">P. Administrativo</label>
    <input
      type="text"
      name="AdminPostThree"
      placeholder="Introduza o nome do P. Administrativo"
      autocomplete="off"
      class="AdminPostThree border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="cellThree" class="font-medium">Celula</label>
    <input
      type="text"
      name="cellThree"
      placeholder="Introduza o nome da Celula"
      autocomplete="off"
      class="cellThree border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="four" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceFour" class="font-medium">Província</label>
    <select name="provinceFour" class="provinceFour border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idFour" class="font-medium">ID</label>
    <input
      type="text"
      name="idFour"
      class="idFour border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="districtFour" class="font-medium">Distrito</label>
    <input
      type="text"
      name="districtFour"
      class="districtFour border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="AdminPostFour" class="font-medium">P. Administrativo</label>
    <input
      type="text"
      name="AdminPostFour"
      placeholder="Introduza o nome do P. Administrativo"
      autocomplete="off"
      class="AdminPostFour border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="cellFour" class="font-medium">Celula</label>
    <input
      type="text"
      name="cellFour"
      placeholder="Introduza o nome da Celula"
      autocomplete="off"
      class="cellFour border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="five" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceFive" class="font-medium">Província</label>
    <select name="provinceFive" class="provinceFive border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idFive" class="font-medium">ID</label>
    <input
      type="text"
      name="idFive"
      class="idFive border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="districtFive" class="font-medium">Distrito</label>
    <input
      type="text"
      name="districtFive"
      class="districtFive border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="AdminPostFive" class="font-medium">P. Administrativo</label>
    <input
      type="text"
      name="AdminPostFive"
      placeholder="Introduza o nome do P. Administrativo"
      autocomplete="off"
      class="AdminPostFive border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="cellFive" class="font-medium">Celula</label>
    <input
      type="text"
      name="cellFive"
      placeholder="Introduza o nome da Celula"
      autocomplete="off"
      class="cellFive border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="six" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceSix" class="font-medium">Província</label>
    <select name="province" class="provinceSix border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idSix" class="font-medium">ID</label>
    <input
      type="text"
      name="idSix"
      class="idSix border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="cellSix" class="font-medium">Celula</label>
    <input
      type="text"
      name="cellSix"
      placeholder="Introduza o nome da Celula"
      autocomplete="off"
      class="cellSix border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="seven" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceSeven" class="font-medium">Província</label>
    <select name="provinceSeven" class="provinceSeven border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idSeven" class="font-medium">ID</label>
    <input
      type="text"
      name="idSeven"
      class="idSeven border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="cellSeven" class="font-medium">Celula</label>
    <input
      type="text"
      name="cellSeven"
      placeholder="Introduza o nome da Celula"
      autocomplete="off"
      class="cellSeven border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="eight" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceEight" class="font-medium">Província</label>
    <select name="provinceEight" class="provinceEight border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idEight" class="font-medium">ID</label>
    <input
      type="text"
      name="idEight"
      class="idEight border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="cellEight" class="font-medium">Celula</label>
    <input
      type="text"
      name="cellEight"
      placeholder="Introduza o nome da Celula"
      autocomplete="off"
      class="cellEight border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="nine" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceNine" class="font-medium">Província</label>
    <select name="provinceNine" class="provinceNine border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idNine" class="font-medium">ID</label>
    <input
      type="text"
      name="idNine"
      class="idNine border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="cellNine" class="font-medium">Celula</label>
    <input
      type="text"
      name="cellNine"
      placeholder="Introduza o nome da Celula"
      autocomplete="off"
      class="cellNine border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="ten" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceTen" class="font-medium">Província</label>
    <select name="provinceTen" class="provinceTen border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idTen" class="font-medium">ID</label>
    <input
      type="text"
      name="idTen"
      class="idTen border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="cellTen" class="font-medium">Celula</label>
    <input
      type="text"
      name="cellTen"
      placeholder="Introduza o nome da Celula"
      autocomplete="off"
      class="cellTen border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>
