<div id="one" class="flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <label for="provinceOne" class="font-medium">Província</label>
    <select name="provinceOne" class="provinceOne border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idOne" class="font-medium">ID</label>
    <input
      type="text"
      name="idOne"
      class="idOne border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="districtOne" class="font-medium">Distrito</label>
    <input
      type="text"
      name="districtOne"
      class="districtOne border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="adminPostOne" class="font-medium">P. Administrativo</label>
    <input
      type="text"
      name="adminPostOne"
      placeholder="Introduza o nome do P. Administrativo"
      autocomplete="off"
      class="adminPostOne border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="localityOne" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="localityOne"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="localityOne border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="regionOne" class="font-medium">Circulo</label>
    <input
      type="text"
      name="regionOne"
      placeholder="Introduza o nome do Circulo"
      autocomplete="off"
      class="regionOne border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="two" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceTwo" class="font-medium">Província</label>
    <select name="provinceTwo" class="provinceTwo border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idTwo" class="font-medium">ID</label>
    <input
      type="text"
      name="idTwo"
      class="idTwo border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="districtTwo" class="font-medium">Distrito</label>
    <input
      type="text"
      name="districtTwo"
      class="districtTwo border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="adminPostTwo" class="font-medium">P. Administrativo</label>
    <input
      type="text"
      name="adminPostTwo"
      placeholder="Introduza o nome do P. Administrativo"
      autocomplete="off"
      class="adminPostTwo border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="localityOne" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="localityOne"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="localityTwo border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="regionOne" class="font-medium">Circulo</label>
    <input
      type="text"
      name="regionOne"
      placeholder="Introduza o nome do Circulo"
      autocomplete="off"
      class="regionTwo border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="three" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceThree" class="font-medium">Província</label>
    <select name="provinceThree" class="provinceThree border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idThree" class="font-medium">ID</label>
    <input
      type="text"
      name="idThree"
      class="idThree border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="districtThree" class="font-medium">Distrito</label>
    <input
      type="text"
      name="districtThree"
      class="districtThree border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="adminPostThree" class="font-medium">P. Administrativo</label>
    <input
      type="text"
      name="adminPostThree"
      placeholder="Introduza o nome do P. Administrativo"
      autocomplete="off"
      class="adminPostThree border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="localityThree" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="localityThree"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="localityThree border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="regionThree" class="font-medium">Circulo</label>
    <input
      type="text"
      name="regionThree"
      placeholder="Introduza o nome do Circulo"
      autocomplete="off"
      class="regionThree border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="four" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceFour" class="font-medium">Província</label>
    <select name="provinceFour" class="provinceFour border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idFour" class="font-medium">ID</label>
    <input
      type="text"
      name="idFour"
      class="idFour border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="districtFour" class="font-medium">Distrito</label>
    <input
      type="text"
      name="districtFour"
      class="districtFour border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="adminPostFour" class="font-medium">P. Administrativo</label>
    <input
      type="text"
      name="adminPostFour"
      placeholder="Introduza o nome do P. Administrativo"
      autocomplete="off"
      class="adminPostFour border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="localityFour" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="localityFour"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="localityFour border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="regionFour" class="font-medium">Circulo</label>
    <input
      type="text"
      name="regionFour"
      placeholder="Introduza o nome do Circulo"
      autocomplete="off"
      class="regionFour border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="five" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceFive" class="font-medium">Província</label>
    <select name="provinceFive" class="provinceFive border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idFive" class="font-medium">ID</label>
    <input
      type="text"
      name="idFive"
      class="idFive border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="districtFive" class="font-medium">Distrito</label>
    <input
      type="text"
      name="districtFive"
      class="districtFive border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="adminPostFive" class="font-medium">P. Administrativo</label>
    <input
      type="text"
      name="adminPostFive"
      placeholder="Introduza o nome do P. Administrativo"
      autocomplete="off"
      class="adminPostFive border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="localityFive" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="localityFive"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="localityFive border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="regionFive" class="font-medium">Circulo</label>
    <input
      type="text"
      name="regionFive"
      placeholder="Introduza o nome do Circulo"
      autocomplete="off"
      class="regionFive border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="six" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceSix" class="font-medium">Província</label>
    <select name="province" class="provinceSix border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idSix" class="font-medium">ID</label>
    <input
      type="text"
      name="idSix"
      class="idSix border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="districtSix" class="font-medium">Distrito</label>
    <input
      type="text"
      name="districtSix"
      class="districtSix border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="adminPostSix" class="font-medium">P. Administrativo</label>
    <input
      type="text"
      name="adminPostSix"
      placeholder="Introduza o nome do P. Administrativo"
      autocomplete="off"
      class="adminPostSix border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="localitySix" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="localitySix"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="localitySix border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="regionSix" class="font-medium">Circulo</label>
    <input
      type="text"
      name="regionSix"
      placeholder="Introduza o nome do Circulo"
      autocomplete="off"
      class="regionSix border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="seven" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceSeven" class="font-medium">Província</label>
    <select name="provinceSeven" class="provinceSeven border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idSeven" class="font-medium">ID</label>
    <input
      type="text"
      name="idSeven"
      class="idSeven border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="districtSeven" class="font-medium">Distrito</label>
    <input
      type="text"
      name="districtSeven"
      class="districtSeven border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="adminPostSeven" class="font-medium">P. Administrativo</label>
    <input
      type="text"
      name="adminPostSeven"
      placeholder="Introduza o nome do P. Administrativo"
      autocomplete="off"
      class="adminPostSeven border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="localitySeven" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="localitySeven"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="localitySeven border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="regionSeven" class="font-medium">Circulo</label>
    <input
      type="text"
      name="regionSeven"
      placeholder="Introduza o nome do Circulo"
      autocomplete="off"
      class="regionSeven border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="eight" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceEight" class="font-medium">Província</label>
    <select name="provinceEight" class="provinceEight border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idEight" class="font-medium">ID</label>
    <input
      type="text"
      name="idEight"
      class="idEight border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="districtEight" class="font-medium">Distrito</label>
    <input
      type="text"
      name="districtEight"
      class="districtEight border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="adminPostEight" class="font-medium">P. Administrativo</label>
    <input
      type="text"
      name="adminPostEight"
      placeholder="Introduza o nome do P. Administrativo"
      autocomplete="off"
      class="adminPostEight border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="localityEight" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="localityEight"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="localityEight border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="regionEight" class="font-medium">Circulo</label>
    <input
      type="text"
      name="regionEight"
      placeholder="Introduza o nome do Circulo"
      autocomplete="off"
      class="regionEight border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="nine" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceNine" class="font-medium">Província</label>
    <select name="provinceNine" class="provinceNine border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idNine" class="font-medium">ID</label>
    <input
      type="text"
      name="idNine"
      class="idNine border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="districtNine" class="font-medium">Distrito</label>
    <input
      type="text"
      name="districtNine"
      class="districtNine border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="adminPostNine" class="font-medium">P. Administrativo</label>
    <input
      type="text"
      name="adminPostNine"
      placeholder="Introduza o nome do P. Administrativo"
      autocomplete="off"
      class="adminPostNine border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="localityNine" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="localityNine"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="localityNine border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="regionNine" class="font-medium">Circulo</label>
    <input
      type="text"
      name="regionNine"
      placeholder="Introduza o nome do Circulo"
      autocomplete="off"
      class="regionNine border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="ten" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceTen" class="font-medium">Província</label>
    <select name="provinceTen" class="provinceTen border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idTen" class="font-medium">ID</label>
    <input
      type="text"
      name="idTen"
      class="idTen border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="districtTen" class="font-medium">Distrito</label>
    <input
      type="text"
      name="districtTen"
      class="districtTen border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="adminPostTen" class="font-medium">P. Administrativo</label>
    <input
      type="text"
      name="adminPostTen"
      placeholder="Introduza o nome do P. Administrativo"
      autocomplete="off"
      class="adminPostTen border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="localityTen" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="localityTen"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="localityTen border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="regionTen" class="font-medium">Circulo</label>
    <input
      type="text"
      name="regionTen"
      placeholder="Introduza o nome do Circulo"
      autocomplete="off"
      class="regionTen border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

