<div id="one" class="flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <label for="province" class="font-medium">Província</label>
    <select name="province" onchange="changeProvinceName()" class="provinceOption border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="id" class="font-medium">ID</label>
    <input
      type="text"
      name="id"
      required
      class="id border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="district" class="font-medium">Distrito</label>
    <input
      type="text"
      name="district"
      placeholder="Introduza o nome do distrito"
      required
      autocomplete="off"
      class="input-field border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="two" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="province" class="font-medium">Província</label>
    <select name="province" onchange="changeProvinceName()" class="provinceOption border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="id" class="font-medium">ID</label>
    <input
      type="text"
      name="id"
      required
      class="id border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="district" class="font-medium">Distrito</label>
    <input
      type="text"
      name="district"
      placeholder="Introduza o nome do distrito"
      required
      autocomplete="off"
      class="input-field border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="three" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="province" class="font-medium">Província</label>
    <select name="province" onchange="changeProvinceName()" class="provinceOption border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="id" class="font-medium">ID</label>
    <input
      type="text"
      name="id"
      required
      class="id border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="district" class="font-medium">Distrito</label>
    <input
      type="text"
      name="district"
      placeholder="Introduza o nome do distrito"
      required
      autocomplete="off"
      class="input-field border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="four" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="province" class="font-medium">Província</label>
    <select name="province" onchange="changeProvinceName()" class="provinceOption border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="id" class="font-medium">ID</label>
    <input
      type="text"
      name="id"
      required
      class="id border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="district" class="font-medium">Distrito</label>
    <input
      type="text"
      name="district"
      placeholder="Introduza o nome do distrito"
      required
      autocomplete="off"
      class="input-field border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="five" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="province" class="font-medium">Província</label>
    <select name="province" onchange="changeProvinceName()" class="provinceOption border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="id" class="font-medium">ID</label>
    <input
      type="text"
      name="id"
      required
      class="id border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="district" class="font-medium">Distrito</label>
    <input
      type="text"
      name="district"
      placeholder="Introduza o nome do distrito"
      required
      autocomplete="off"
      class="input-field border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="six" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="province" class="font-medium">Província</label>
    <select name="province" onchange="changeProvinceName()" class="provinceOption border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="id" class="font-medium">ID</label>
    <input
      type="text"
      name="id"
      required
      class="id border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="district" class="font-medium">Distrito</label>
    <input
      type="text"
      name="district"
      placeholder="Introduza o nome do distrito"
      required
      autocomplete="off"
      class="input-field border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="seven" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="province" class="font-medium">Província</label>
    <select name="province" onchange="changeProvinceName()" class="provinceOption border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="id" class="font-medium">ID</label>
    <input
      type="text"
      name="id"
      required
      class="id border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="district" class="font-medium">Distrito</label>
    <input
      type="text"
      name="district"
      placeholder="Introduza o nome do distrito"
      required
      autocomplete="off"
      class="input-field border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="eight" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="province" class="font-medium">Província</label>
    <select name="province" onchange="changeProvinceName()" class="provinceOption border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="id" class="font-medium">ID</label>
    <input
      type="text"
      name="id"
      required
      class="id border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="district" class="font-medium">Distrito</label>
    <input
      type="text"
      name="district"
      placeholder="Introduza o nome do distrito"
      required
      autocomplete="off"
      class="input-field border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="nine" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="province" class="font-medium">Província</label>
    <select name="province" onchange="changeProvinceName()" class="provinceOption border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="id" class="font-medium">ID</label>
    <input
      type="text"
      name="id"
      required
      class="id border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="district" class="font-medium">Distrito</label>
    <input
      type="text"
      name="district"
      placeholder="Introduza o nome do distrito"
      required
      autocomplete="off"
      class="input-field border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="ten" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="province" class="font-medium">Província</label>
    <select name="province" onchange="changeProvinceName()" class="provinceOption border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="id" class="font-medium">ID</label>
    <input
      type="text"
      name="id"
      required
      class="id border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="district" class="font-medium">Distrito</label>
    <input
      type="text"
      name="district"
      placeholder="Introduza o nome do distrito"
      required
      autocomplete="off"
      class="input-field border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>
