<div id="one" class="flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <label for="provinceOne" class="font-medium">Província</label>
    <select name="provinceOne" class="provinceOne border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idOne" class="font-medium">ID</label>
    <input
      type="text"
      name="idOne"
      class="idOne border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="inputOne" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="inputOne"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="inputOne border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="two" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceTwo" class="font-medium">Província</label>
    <select name="provinceTwo" class="provinceTwo border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idTwo" class="font-medium">ID</label>
    <input
      type="text"
      name="idTwo"
      class="idTwo border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="inputOne" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="inputOne"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="inputTwo border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="three" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceThree" class="font-medium">Província</label>
    <select name="provinceThree" class="provinceThree border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idThree" class="font-medium">ID</label>
    <input
      type="text"
      name="idThree"
      class="idThree border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="inputThree" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="inputThree"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="inputThree border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="four" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceFour" class="font-medium">Província</label>
    <select name="provinceFour" class="provinceFour border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idFour" class="font-medium">ID</label>
    <input
      type="text"
      name="idFour"
      class="idFour border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="inputFour" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="inputFour"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="inputFour border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="five" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceFive" class="font-medium">Província</label>
    <select name="provinceFive" class="provinceFive border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idFive" class="font-medium">ID</label>
    <input
      type="text"
      name="idFive"
      class="idFive border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="inputFive" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="inputFive"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="inputFive border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="six" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceSix" class="font-medium">Província</label>
    <select name="province" class="provinceSix border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idSix" class="font-medium">ID</label>
    <input
      type="text"
      name="idSix"
      class="idSix border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="inputSix" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="inputSix"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="inputSix border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="seven" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceSeven" class="font-medium">Província</label>
    <select name="provinceSeven" class="provinceSeven border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idSeven" class="font-medium">ID</label>
    <input
      type="text"
      name="idSeven"
      class="idSeven border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="inputSeven" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="inputSeven"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="inputSeven border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="eight" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceEight" class="font-medium">Província</label>
    <select name="provinceEight" class="provinceEight border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idEight" class="font-medium">ID</label>
    <input
      type="text"
      name="idEight"
      class="idEight border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="inputEight" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="inputEight"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="inputEight border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="nine" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceNine" class="font-medium">Província</label>
    <select name="provinceNine" class="provinceNine border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idNine" class="font-medium">ID</label>
    <input
      type="text"
      name="idNine"
      class="idNine border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="inputNine" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="inputNine"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="inputNine border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

<div id="ten" class="hidden flex-col gap-4">
  <hr class="h-[1px] bg-orange-700 border-0 my-4">
  <div class="flex flex-col gap-2">
    <label for="provinceTen" class="font-medium">Província</label>
    <select name="provinceTen" class="provinceTen border border-orange-700 focus:outline-none outline-none rounded">
        <option value="Maputo Cidade">Maputo Cidade</option>
        <option value="Maputo Província">Maputo Província</option>
        <option value="Gaza">Gaza</option>
        <option value="Inhambane">Inhambane</option>
        <option value="Manica">Manica</option>
        <option value="Sofala">Sofala</option>
        <option value="Tete">Tete</option>
        <option value="Nampula">Nampula</option>
        <option value="Niassa">Niassa</option>
        <option value="Zambézia">Zambézia</option>
        <option value="Cabo Delgado">Cabo Delgado</option>
    </select>
  </div>
  <div class="flex flex-col gap-2">
    <label for="idTen" class="font-medium">ID</label>
    <input
      type="text"
      name="idTen"
      class="idTen border border-orange-700 focus:outline-none outline-none rounded px-2"
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="inputTen" class="font-medium">Localidade ou Bairro</label>
    <input
      type="text"
      name="inputTen"
      placeholder="Introduza o nome da Localidade ou Bairro"
      autocomplete="off"
      class="inputTen border border-orange-700 px-2 w-60 focus:outline-none outline-none rounded"
    />
  </div>
</div>

