.meter { 
    height: 5px;
    position: relative;
    background: #d2d4c8;
    overflow: hidden;
    width: 80%;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: rgb(154, 52, 18);
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both; 
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.progress-percentage, .progress-label {
    font-size: x-small;
    font-weight: 500;
    width: fit-content;
}

.progress-container {
    display: flex;
    justify-content: space-evenly;
}
