<div class="bg-orange-700 text-white w-full p-5 laptop:mt-10 mobile:mt-5">
   <section class="p-2 flex laptop:mt-20 laptop:flex-row laptop:justify-evenly laptop:gap-0 mobile:mt-10 mobile:flex-col mobile:gap-10">
        <div>
            <h1 class="text-3xl font-semibold mb-10">Pocsquare</h1>
            <div class="laptop:text-lg mobile:text-base mb-4">
                <p>Av. Karl Max 194 - Bairro Central C</p>
                <p>Cidade de Maputo - Moçambique</p>
            </div>
            <div class="laptop:text-lg mobile:text-base mb-4">
                <p>info@pocsquare.com</p>
                <p>tel: (+258) 84 883 3501</p>
            </div>
            <div class="flex flex-row gap-3 w-3/5">
                <span><a href="" target="_blank" title="Facebook"><i class="fa-brands fa-facebook fa-2x"></i></a></span>
                <span><a href="" target="_blank" title="Twitter"><i class="fa-brands fa-twitter fa-2x"></i></a></span>
                <span><a href="" target="_blank" title="Linkedin"><i class="fa-brands fa-linkedin fa-2x"></i></a></span>
                <span><a href="" target="_blank" title="Instagram"><i class="fa-brands fa-instagram fa-2x"></i></a></span>
            </div>
        </div>
        <div>
            <h1 class="text-3xl font-semibold mb-10">Como podemos ajudar?</h1>
            <form method="post" action="" class="flex flex-col gap-5">
                <div class="flex gap-4 laptop:flex-row mobile:flex-col">
                    <input type="text" name="first-name" required placeholder="Nome" class="focus:outline-none focus:border-2 focus:shadow-white focus:shadow-fixed bg-orange-700 border border-white h-10 px-5 placeholder-white">
                    <input type="text" name="last-name" required placeholder="Apelido" class="focus:outline-none focus:border-2 focus:shadow-white focus:shadow-fixed bg-orange-700 border border-white h-10 px-5 placeholder-white">
                </div>
                <div class="flex gap-4 laptop:flex-row mobile:flex-col">
                    <input type="tel" name="tel" required placeholder="Telefone" class="focus:outline-none focus:border-2 focus:shadow-white focus:shadow-fixed bg-orange-700 border border-white h-10 px-5 placeholder-white">
                    <input type="email" name="email" required placeholder="Email" class="focus:outline-none focus:border-2 focus:shadow-white focus:shadow-fixed bg-orange-700 border border-white h-10 px-5 placeholder-white">
                </div>
                <div class="h-32">
                    <textarea name="message" required placeholder="Mensagem" class="w-full h-full focus:outline-none focus:border-2 focus:shadow-white focus:shadow-fixed bg-orange-700 border border-white py-3 px-5 placeholder-white"></textarea>
                </div>
                <div>
                    <button type="submit" class="bg-white hover:bg-gray-200 text-orange-700 text-lg font-medium py-3 w-full">Enviar</button>
                </div>
            </form>
        </div>
   </section>
   <section class="w-[90%] mx-auto mt-16 p-2 pt-6 border-t border-white flex laptop:flex-row laptop:justify-evenly laptop:gap-0 mobile:flex-col mobile:gap-5">
        <div>
            <h1 class="text-base font-semibold mb-6">Ajuda e Informações</h1>
            <ul class="flex flex-col gap-2 laptop:text-sm mobile:text-xs">
                <li>Ajuda e Suporte</li>
                <li>Atualizações de servicos</li>
                <li>Leia os nossos Termos e Condições</li>
                <li>Contacte-nos</li>
            </ul>
        </div>
        <div>
            <h1 class="text-base font-semibold mb-6">Informações Adicionais</h1>
            <ul class="flex flex-col gap-2 laptop:text-sm mobile:text-xs">
                <li>Informação Link 1</li>
                <li>Informação link 2</li>
                <li>Informação link 3</li>
                <li>Informação link 4</li>
            </ul>
        </div>
        <div>
            <h1 class="text-base font-semibold mb-6">Links Rápidos</h1>
            <ul class="flex flex-col gap-2 laptop:text-sm mobile:text-xs">
                <li>Link Rápido 1</li>
                <li>Link Rápido 2</li>
                <li>Link Rápido 3</li>
                <li>Link Rápido 4</li>
            </ul>
        </div>
   </section>
   <section class="w-[90%] mx-auto border-t border-white mt-5 px-5 pt-3 flex laptop:flex-row laptop:justify-between laptop:text-sm laptop:gap-0 mobile:text-xs mobile:flex-col mobile:gap-2 ">
        <p>Copyright &copy; Pocsquare. Todos os direitos reservados.</p>
        <p>Desenvolvido por <span class="font-semibold underline underline-offset-4 hover:text-gray-200"><a href="https://jay-ubisse.com/" target="_blank">Jay Ubisse</a></span></p>
   </section>
</div>